body{
    box-sizing: border-box;
}
.border-box{   
    margin: 20px 100px 20px 100px;
    padding:5%;
    background: #f9cc9d;
    border:black dotted 1px;
}
.margin-box{
    padding: 5%;
    border: black 1px dotted;
    background: #fddd9b;
}
.padding-box{   
    padding:5%;
    background:#c3d08b;
    border:black solid 1px;
}
.content-box{
    background: #8cb6c0;
    padding: 5px;
    margin:5% 10% 5% 20%;
    border:black 1px solid
}